<!-- ===Title=== -->
<div class="col-12 text-center">
	<h1>{{ site.data.i18n.[page.lang].[page.ref] }}</h1>
	<p>{{ site.data.i18n.[page.lang].["Do you have any question? Or some sugestion? Our team will help you with every you need"] }}</p>
</div>

<hr/>

<!-- ===Form=== -->
<div class="col-lg-6">
	<div class="content content--bgcolor">
		<h2 class="text-center">{{ site.data.i18n.[page.lang].["What do you need?"] }}</h2>
		
		<form id="contactForm">
			<div class="form-group">
				<label for="contactName">{{ site.data.i18n.[page.lang].name }}</label>
				<input type="text" class="form-control" id="contactName" name="contactName">
			</div>
			<div class="form-group">
				<label for="contactEmail">{{ site.data.i18n.[page.lang].email }}</label>
				<input type="email" class="form-control" id="contactEmail" aria-describedby="emailHelp" name="contactEmail">
				<small id="emailHelp" class="form-text text-muted">{{ site.data.i18n.[page.lang].["We'll never share your email with anyone else."] }}</small>
			</div>
			<div class="form-group">
				<label for="contactMessage">{{ site.data.i18n.[page.lang].message }}</label>
				<textarea class="form-control" id="contactMessage" name="contactMessage" rows="3"></textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">{{ site.data.i18n.[page.lang].send }}</button>
			</div>
		</form>
	</div> 

	<div class="alert alert-success" role="alert" style="display: none;">
	 	{{ site.data.i18n.[page.lang].["Your email was sent successfully"] }}
	</div>
</div>

<hr class="d-lg-none">


<div class="col-lg-6">
	<div class="row">
		<!-- ===Info=== -->
		<div class="col-12">
			<div class="content">
				<h2 class="text-center">{{ site.data.i18n.[page.lang].["Contact information"] }}</h2>
				<p><strong>{{ site.data.i18n.[page.lang].address }}:</strong> {{ site.information.address }}</p>
				<p><strong>{{ site.data.i18n.[page.lang].schedule }}:</strong> {{ site.information.schedule }}</p>
				<p><strong>{{ site.data.i18n.[page.lang].phone }}:</strong> {{ site.information.phone }}</p>
			</div>
		</div>

		<!-- ===Map=== -->
		<div class="col-12">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.2155028018747!2d2.1526778152898003!3d41.391126079263906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a29000064df1%3A0x717a50f5aa13339f!2sCarrer%20del%20Rossell%C3%B3%2C%20154%2C%2008036%20Barcelona!5e0!3m2!1ses!2ses!4v1586038319535!5m2!1ses!2ses" width="100%" height="300" frameborder="0" class="align-bottom" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		</div>
	</div>
</div>


<script type="text/javascript">
	jQuery(function($) {
		$("#contactForm").on("submit", function(e) {
			e.preventDefault();
			$(".alert.alert-success").show();
		});
	});
</script>