<div class="col-lg-6 content content--bgcolor"> 
	<h1 class="text-center">{{ site.data.i18n.[page.lang].["What do you need?"]] }}</h1>
	
	<form id="contactForm">
		<div class="form-group">
			<label for="contactName">{{ site.data.i18n.[page.lang].name }}</label>
			<input type="text" class="form-control" id="contactName" name="contactName">
		</div>
		<div class="form-group">
			<label for="contactEmail">{{ site.data.i18n.[page.lang].email }}</label>
			<input type="email" class="form-control" id="contactEmail" aria-describedby="emailHelp" name="contactEmail">
			<small id="emailHelp" class="form-text text-muted">{{ site.data.i18n.[page.lang].["We'll never share your email with anyone else."]] }}</small>
		</div>
		<div class="form-group">
			<label for="contactMessage">{{ site.data.i18n.[page.lang].message }}</label>
			<textarea class="form-control" id="contactMessage" name="contactMessage" rows="3"></textarea>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">{{ site.data.i18n.[page.lang].send }}</button>
		</div>
	</form>
</div>

<div class="offset-lg-6 col-lg-6">
	<div class="row">
		<div class="alert alert-success" role="alert" style="display: none;">
		 	{{ site.data.i18n.[page.lang].["Your email was sent successfully"] }}
		</div>
	</div>		
</div>

<script type="text/javascript">
	jQuery(function($) {
		$("#contactForm").on("submit", function(e) {
			e.preventDefault();
			$(".alert.alert-success").show();
		});
	});
</script>