<header class="fixed-top">
	<nav class="nav">	  	
	  	{% if site.social %}
		  	<div class="col">
				{% if site.social.facebook %}<a href="https://www.facebook.com/{{ site.social.facebook }}/" target="_blank" class="nav-link float-left"><i class="icon-facebook"></i></a>{% endif %}
				{% if site.social.instagram %}<a href="https://www.instagram.com/{{ site.social.instagram }}/" target="_blank" class="nav-link float-left"><i class="icon-instagram"></i></a>{% endif %}       
			</div>                     
	  	{% endif %}

	  	<div class="col text-right">
		  	{% assign languages=site.pages | where:"ref", page.ref | sort: 'lang' %}
			{% for lang in languages %}
				{% if lang.lang %}
					<a href="{{ lang.url }}" class="nav-link {{ lang.lang }} {% if page.lang == lang.lang %}active{% endif %}">{{ lang.lang }}</a>
				{% endif %}
			{% endfor %}
		</div>
	</nav>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="/{{ page.lang }}">
				<img src="{{ BASE_PATH }}/assets/images/logo.png" class="img-fluid d-none d-lg-block" width="80" alt="Nogura logo" />
				<img src="{{ BASE_PATH }}/assets/images/logo_letters.png" class="img-fluid d-lg-none" width="100" alt="Nogura logo" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="menu">
				<ul class="navbar-nav mr-auto">
					{% for link in layout.menu %}
						<li class="nav-item">
							{% capture linkUrl %}/{{ page.lang }}/{{ link }}{% endcapture %}
							<a class="nav-link {% if linkUrl == page.url %}active{% endif %}" href="/{{ page.lang }}/{{ link }}">
								<span>{{ site.data.i18n.[page.lang].[link] }}</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</nav>
</header>