<div class="col-12 text-center">
	<h1>{{ site.data.i18n.[page.lang].[page.ref] }}</h1>
	<p>{{ site.data.i18n.[page.lang].["Here you have all our gastronomic offer as well as our best cocktails and wines"] }}</p>
</div>

<hr/>

<div class="col-12">
	<div class="row align-items-center">
		<div class="col-lg-6">
			<img src="{{ BASE_PATH }}/assets/images/menu/main.jpg" class="img-fluid" />
		</div>

		<hr class="d-lg-none">

		<div class="col-lg-6">
			<div class="row">
				<div class="col-lg-6">
					<div class="content text-center">
						<p>{{ site.data.i18n.[page.lang].["Nogura menu"] }}</p>
						<a href="https://www.canva.com/design/DADxcCILQl0/HRo01pNEekiJSRmDKV8DZg/view?utm_content=DADxcCILQl0&utm_campaign=designshare&utm_medium=link&utm_source=viewer#1" target="_blank" class="btn btn-secondary">{{ site.data.i18n.[page.lang].download }}</a>
					</div>
				</div>
				<hr class="d-lg-none">
				<div class="col-lg-6">
					<div class="content text-center">
						<p>{{ site.data.i18n.[page.lang].["À la carte menu"] }}</p>
						<a href="https://www.canva.com/design/DADx71j6bkQ/E4foWtSBWoB01Htbga_OTg/view?utm_content=DADx71j6bkQ&utm_campaign=designshare&utm_medium=link&utm_source=homepage_design_menu#4" target="_blank" class="btn btn-secondary">{{ site.data.i18n.[page.lang].download }}</a>
					</div>
				</div>
				<hr class="d-lg-none">
				<div class="col-lg-6">
					<div class="content text-center">
						<p>{{ site.data.i18n.[page.lang].["Wine list"] }}</p>
						<a href="https://www.canva.com/design/DADym29gKao/5bLyLyq2qirGxjutNWSOgA/view?utm_content=DADym29gKao&utm_campaign=designshare&utm_medium=link&utm_source=homepage_design_menu#1" target="_blank" class="btn btn-secondary">{{ site.data.i18n.[page.lang].download }}</a>
					</div>
				</div>
				<hr class="d-lg-none">
				<div class="col-lg-6">
					<div class="content text-center">
						<p>{{ site.data.i18n.[page.lang].["Cocktails list"]] }}</p>
						<a href="https://www.canva.com/design/DADx9154Uf8/DJSa1cxpvwwbOU1xauNPTQ/view?utm_content=DADx9154Uf8&utm_campaign=designshare&utm_medium=link&utm_source=homepage_design_menu#1" target="_blank" class="btn btn-secondary">{{ site.data.i18n.[page.lang].download }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>