<div class="col-12 text-center">
	<h1>{{ site.data.i18n.[page.lang].[page.ref] }}</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

<hr/>

<div class="col-12">
	<div class="row align-items-center">
		<div class="col-lg-6">
			<img src="{{ BASE_PATH }}/assets/images/menu/main.jpg" class="img-fluid" />
		</div>

		<hr class="d-lg-none">

		<div class="col-lg-6">
			<div class="row">
				<div class="col-lg-6">
					<div class="content text-center">
						<p>Menú</p>
						<a href="#" class="btn btn-secondary">Descarregar</a>
					</div>
				</div>
				<hr class="d-lg-none">
				<div class="col-lg-6">
					<div class="content text-center">
						<p>Carta</p>
						<a href="#" class="btn btn-secondary">Descarregar</a>
					</div>
				</div>
				<hr class="d-lg-none">
				<div class="col-lg-6">
					<div class="content text-center">
						<p>Carta de vins</p>
						<a href="#" class="btn btn-secondary">Descarregar</a>
					</div>
				</div>
				<hr class="d-lg-none">
				<div class="col-lg-6">
					<div class="content text-center">
						<p>Carta de còctels</p>
						<a href="#" class="btn btn-secondary">Descarregar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>