<div class="col-12 text-center">
	<h1>{{ site.data.i18n.[page.lang].[page.ref] }}</h1>
	<p>{{ site.data.i18n.[page.lang].["Be it a birthday or a romantic date, in Nogura you will find the right space for your needs"] }}</p>
</div>

<hr/>

<div class="col-lg-6 content content--bgcolor"> 
	<h2 class="text-center">{{ site.data.i18n.[page.lang].["Reservation information"] }}</h2>
	
	<form id="reservationForm">
		<div class="form-group">
			<label for="reservationName">{{ site.data.i18n.[page.lang].name }}</label>
			<input type="text" class="form-control" id="reservationName" name="reservationName" data-reservation="name">
		</div>
		<div class="form-group">
			<label for="reservationEmail">{{ site.data.i18n.[page.lang].email }}</label>
			<input type="email" class="form-control" id="reservationEmail" aria-describedby="emailHelp" name="reservationEmail">
			<small class="form-text text-muted">{{ site.data.i18n.[page.lang].["We'll never share your email with anyone else."] }}</small>
		</div>
		<div class="row">
			<div class="form-group col">
				<label for="reservationDate">{{ site.data.i18n.[page.lang].date }}</label>
				<input type="date" class="form-control" id="reservationDate" name="reservationDate" data-reservation="date" min="2020-06-01" max="2021-07-31">
			</div>
			<div class="form-group col">
				<label for="reservationHour">{{ site.data.i18n.[page.lang].hour }}</label>
				<select class="custom-select form-control" data-reservation="date">
					<option selected disabled>...</option>
					<option value="13:00">13:00</option>
					<option value="13:15">13:15</option>
					<option value="13:30">13:30</option>
					<option value="13:45">13:45</option>
					<option value="14:00">14:00</option>
					<option value="14:15">14:15</option>
					<option value="14:30">14:30</option>
					<option value="20:00">20:00</option>
					<option value="20:15">20:15</option>
					<option value="20:30">20:30</option>
					<option value="20:45">20:45</option>
					<option value="21:00">21:00</option>
					<option value="21:15">21:15</option>
					<option value="21:30">21:30</option>
					<option value="21:45">21:45</option>
					<option value="22:00">22:00</option>
					<option value="22:15">22:15</option>
					<option value="22:30">22:30</option>
				</select>
			</div>
			<div class="form-group col">
				<label for="reservationDiners">{{ site.data.i18n.[page.lang].diners }}</label>
				<input type="number" class="form-control" id="reservationDiners" name="reservationDiners" data-reservation="diners">
			</div>
		</div>
		<div class="form-group">
			<label for="reservationMessage">{{ site.data.i18n.[page.lang].information }}</label>
			<textarea class="form-control" id="reservationMessage" name="reservationMessage" rows="3"></textarea>
			<small class="form-text text-muted">{{ site.data.i18n.[page.lang].["Tell us if you have any food intolerance o any other needs you may have"] }}</small>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">{{ site.data.i18n.[page.lang].["Make reservation"] }}</button>
		</div>
	</form>
</div>

<div class="col-lg-6 d-lg-none">
	<div class="row">
		<div class="alert alert-success" role="alert" style="display: none;">
		 	{{ site.data.i18n.[page.lang].["Congratulations! Your reservation was succesfully made"] }}
		</div>
	</div>		
</div>

<hr class="d-lg-none">

<div class="col-lg-6">
	<p class="text-center">{{ site.data.i18n.[page.lang].["We will send the details of your reservation by mail"] }}:</p>
	<div class="content">
		<div class="reserva">
    		<div class="col-12">
				<p class="text-center reserva__title"><strong>{{ site.data.i18n.[page.lang].["Reservation confirmation"] }}</strong></p>
    			<div class="row align-items-center">
    				<div class="col-3">
    					<img src="{{ BASE_PATH }}/assets/images/logo.png" class="img-fluid d-none d-lg-block" width="80" alt="Nogura logo"/>
    				</div>
    				<div class="col-9">
    					<div class="row">
    						<div class="col-4">
	    						<p>{{ site.data.i18n.[page.lang].name }}:</p>
	    					</div>
    						<div class="col-8">
	    						<p class="reserva__info" data-reservation="name"></p>
	    					</div>
    					</div>
    					<div class="row">
    						<div class="col-4">
	    						<p>{{ site.data.i18n.[page.lang].date }}:</p>
	    					</div>
    						<div class="col-8">
	    						<p class="reserva__info" data-reservation="date"></p>
	    					</div>
    					</div>
    					<div class="row">
    						<div class="col-4">
	    						<p>{{ site.data.i18n.[page.lang].diners }}:</p>
	    					</div>
    						<div class="col-8">
	    						<p class="reserva__info" data-reservation="diners"></p>
	    					</div>
    					</div>	
    				</div>
    			</div>
    			<p class="reserva__contact text-center">{{ site.information.phone }} · {{ site.information.address }}</p>
    		</div>
		</div>
	</div>

	<hr class="d-lg-none">

	<div class="content">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>

<div class="col-lg-6 d-none d-lg-block">
	<div class="row">
		<div class="alert alert-success" role="alert" style="display: none;">
		 	{{ site.data.i18n.[page.lang].["Congratulations! Your reservation was succesfully made"] }}
		</div>
	</div>		
</div>


<script type="text/javascript">
	jQuery(function($) {
		$("#reservationForm .form-control").on("change", function(e) {
			let targetField = $(".reserva .reserva__info[data-reservation='"+$(this).data("reservation")+"']");
			let newValue = "";
			$.each($(".form-control[data-reservation='" +$(this).data("reservation")+ "']"), function(key) {
				if ($(this).val() != null) {
					newValue += $(this).val() + " ";
				}
			});

			targetField.html(newValue);
		});

		$("#reservationForm").on("submit", function(e) {
			e.preventDefault();
			$(".alert.alert-success").show();
		});
	});
</script>