/// Block to contain any kind of content on the website, with needed spacing
.content {
    width: 100%;

    &--bgcolor {
        padding: 30px 50px;
		background-color: $color-second;
    	color: $color-off;

    	&:before {
    		content: "";
    	}
    }
    
    @media (min-width: 992px) {
        padding: 30px;
	}
}

.reserva {
	background: url('/assets/images/pattern_papyrus.png') repeat;
    box-shadow: 0px 0px 7px #84848430;
	font-family: Montserrat;
    padding: 20px 0;

	&__title{
		font-size: 20px;
	}

	&__info {
		background-color: darken($color-off, 5%);
		padding: 0 5px;
	}

	&__contact {
		font-size: 12px;
    	margin-top: 30px !important;
	}

	img {
		background-color: #fff;
	}

	p {
		margin: 5px 0;
	}
}

.profile {
    margin: 20px 0;
    padding: 0 50px;
    text-align: center;

    &__name {
    	margin: 20px 0;
	    font-weight: $font-weight-bold;
    }

	img {
		border-radius: 100%;
		filter: grayscale(1);
		transition: filter ease .3s;

		&:hover {
			filter: grayscale(0);
		}
	}
}