// TOP MENU
.topMenu  {
	$fontSize: 13px;
	background-color: #333;
	font-size: $fontSize;
	line-height: $fontSize;

	a {
		color: #fff;
		display: inline-block;

		i {
			margin-right: 2px;
		}

		&:hover {
			color: lighten($mainColor, 20%);
		}
	}

	.languages {
		margin-left: auto;
	}
}

// HEADER
.mainMenu {
	$bgColor: #f2f2f2;

	background-color: $bgColor !important;
	transition: height ease .3s;
	padding-top: 0;
	padding-bottom: 0;
	@at-root {
		body.scrolled .mainMenu {
			background-color: rgba($bgColor, .95) !important;
		}
	}
}

.mainLogo {
	width: 100px;
	height: 100%;
}
.alterLogo {
	height: 46px;
}

.navbar-collapse {
	flex-grow: 0;
}

.navbar-nav {
	.nav-item {
		padding: 0 20px;
		position: relative;
	}

	.nav-link {
		$color: #694E3E;

		color: $color !important;
		position: relative;

		span {
			vertical-align: sub;
		}

		&.active,
		&:hover {
			color: $color;

			&:after {
				width: 100%;
				left: 0;
			}
		}

		&.active {
			font-weight: $font-weight-bold;
			&:after {
				width: 0;
				left: 0;
			}
		}

		&:after {
			content: "";
			transition: all ease .3s;
			height: 1px;
			width: 100%;
			position: absolute;
			bottom: 9px;
			left: 50%;
			background-color: #694E3E;
			width: 0;
		}
	}
}