// TOP MENU
.topMenu  {
	$fontSize: 13px;
    background-color: #333;
    font-size: $fontSize;
    line-height: $fontSize;

    a {
	    color: #fff;
	    display: inline-block;

	    i {
	    	margin-right: 2px;
	    }

	    &:hover {
	    	color: lighten($mainColor, 20%);
	    }
    }

    .languages {
		margin-left: auto;
    }
}

// HEADER
.mainMenu {
	$bgColor: #f2f2f2;

	background-color: $bgColor !important;
	transition: height ease .3s;
    padding-top: 0;
	padding-bottom: 0;

	// ON SCROLL
	@at-root {
		body.scrolled {
			padding-top: 87px;

			.mainMenu {
				height: 56px;
			}
		}
		body:not(.scrolled) {
			padding-top: 186px;

			.mainMenu {
				height: 155px;
			}
		} 
	}

	.mainLogo {
		width: 100px;
		height: 100%;
	}
	.alterLogo {
		height: 46px;
	}

	.navbar-collapse {
		flex-grow: 0;
	}

	.navbar-nav .nav-link {
		$color: #694E3E;

		color: $color;

		&.active {
			color: $color;
			font-weight: 600;
		}
	}
}