// === Header: top === //
header .nav  {
	$font-size: 13px;
	background-color: $color-black;
	font-size: $font-size;
	line-height: $font-size;

	a {
		color: $color-off;
		display: inline-block;
	    padding: 10px;
	    border-bottom: solid $color-black 2px;
		&:hover {
		    border-color: $color-main;
		}
		&.active {
			color: $color-main;
			font-weight: 600;
    		font-size: 14px;
		}

		i {
			margin-right: 2px;
		}
	}
}

// === Header: menu === //
header .navbar {
	background-color: $color-off !important;
	@at-root {
		body.scrolled header .navbar {
			background-color: rgba($color-off, .95) !important;
		}
	}

	.nav-item {
		padding: 0 20px;
	}

	.nav-link {
		&.active span {
			font-weight: $font-weight-bold;
			&:after {
				width: 0;
			}
		}
		&:not(.active):hover span:before,
		&:not(.active):hover span:after {
		    width: 100%;
		    left: 0;
			transition: all ease .3s;
		}

		span {
			position: relative;
			padding: 5px;
			&:before,
			&:after {
				content: "";
		    	background-color: $color-black;
				transition: all ease .3s;
				position: absolute;
		        height: 1px;
		        width: 0;
				left: 50%;
			}
			&:before {
				top: 0;
			}
			&:after {
				bottom: 0;
			}
		}
	}
}

// === Main content === //
main {
	margin-top: 92px;

	@media (min-width: 992px) {
		margin-top: 176px;
	}

}

// === Footer === //
footer  {
    background-color: $color-black;
    margin-top: 50px;

    * {
    	color: $color-off !important;
    }
}